<h2>Projects</h2>

{% for item in site.data.projects.main %}
  <div class="publications">
    <div class="row">
      {% if item.image %}
        <div class="col">
          <img src="{{ item.image }}" style="max-height: 160px;" />
        </div>
      {% endif %}
      <div class="col" style="margin-left: 20px;">
        <b>{{ item.title }}</b><br>
        <i>{{ item.authors }}</i><br>
        <p style="margin-top: 0.5em;">{{ item.description }}</p>
        {% if item.external_link %}
          <a href="{{ item.external_link }}" class="btn">External Link</a>
        {% endif %}
        {% if item.pdf %}
          <a href="{{ item.pdf }}" class="btn">PDF</a>
        {% endif %}
        {% if item.notes %}
          <span style="color: orangered; font-style: italic;">{{ item.notes }}</span>
        {% endif %}
      </div>
    </div>
  </div>
  <br>
{% endfor %}
